FIREBIRD_HOST=172.16.0.2
FIREBIRD_DB=/home/sia/banco/dbsia.fdb
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=troque_aqui
GOOGLE_CREDENTIALS_FILE=credencial/google-service-account.json
VISITANTES_PLANILHA_ID=troque_aqui
VISITANTES_ABA_ID=1481749252
SENTENCIADOS_PLANILHA_ID=troque_aqui
